.noteBlock{
    width: 250px;
    min-height: 22vh;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border: lightgrey solid 1px;
    /* box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    2px 4px 6px 4px rgba(60, 64, 67, 0.149); */
    border-radius: 8px;
    margin: 1%;
}
.inputBlock{
    display: flex;
    flex-direction: column;
}
.noteOption{
    display: none;
}
.noteBlock:hover .noteOption{
    display: block;
}
.AllNotes{
    display: flex;
    flex-flow: wrap;
}

.addnoteNone{
    display: none;
}
@media only screen and (max-width: 615px){
    .noteBlock {
        width: 100%;
    }
}